#red {
    color: red;
}

#blue {
    color: blue;
}

#orange {
    color: orange;
}

#green {
    color: green;
}

#yellow  {
    color: yellow;
}

#black{
    color: black
}

#brown{
    color: brown
}

#gray{
    color: gray
}

#purple{
    color: purple
}

#white{
    color: white
}

.brown-img{
    object-fit: none;
}

.color-title {
    font-weight: normal;
}

img {
    height: 200px;
    width:  200px;
}

